---

import Layout from '../layouts/Layout.astro';
---

<Layout>
  <div transition:name="content">

  </div>
  <main class="container mx-auto px-4 py-8">
	<div class="container rounded-md border-cyan-50">
    <h1>Hola</h1>
	</div>
  </main>
</Layout>
