body, html {
  font-family: "Josefin Sans", sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

header {
    position: relative;
    text-align: center;
    padding: 20px 0;
    color: white;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #0e0e0e;
    background-size: cover;
    background-position: center;
    z-index: -1;
}
header {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 10px;
}
#wrapperheader h1 {
  flex-wrap: wrap;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
    font-weight: 700;
    display: flex;
    justify-content: left;
    color: rgb(94, 108, 238);
    margin-top: 13px;
    animation: flash;
    animation-duration: 2s;


}

#wrapperheader ul {
  flex-wrap: wrap;
  display: flex;
  justify-content: right;
  list-style-type: none;
  margin: 10px;
  padding: 0px;
}
#wrapperheader li {
  flex-wrap: wrap;
  font-size: 120%;
  display: inline;
  color: white;
  margin: 10px;
  padding: 5px;
}

.book1 {
  background: linear-gradient(to bottom right, #ffcccc, #e7a856); /* Agregar degradado lineal */
  position: relative;
  border-radius: 10px;
  width: 220px;
  height: 300px;
  -webkit-box-shadow: 1px 1px 12px #000;
  box-shadow: 1px 1px 12px #000;
  -webkit-transform: preserve-3d;
  -ms-transform: preserve-3d;
  transform: preserve-3d;
  -webkit-perspective: 2000px;
  perspective: 2000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #000;
}

.cover1 {
  background: linear-gradient(to bottom right, #ffcccc, #c59e48); /* Agregar degradado lineal */
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform-origin: 0;
  -ms-transform-origin: 0;
  transform-origin: 0;
  -webkit-box-shadow: 1px 1px 12px #000;
  box-shadow: 1px 1px 12px #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.book1:hover .cover1 {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: rotatey(-80deg);
  -ms-transform: rotatey(-80deg);
  transform: rotatey(-80deg);
}

.book2 {
  background: linear-gradient(to bottom right, #ffcccc, #f07ec0); /* Agregar degradado lineal */
  position: relative;
  border-radius: 10px;
  width: 220px;
  height: 300px;
  -webkit-box-shadow: 1px 1px 12px #000;
  box-shadow: 1px 1px 12px #000;
  -webkit-transform: preserve-3d;
  -ms-transform: preserve-3d;
  transform: preserve-3d;
  -webkit-perspective: 2000px;
  perspective: 2000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #000;
}

.cover2 {
  background: linear-gradient(to bottom right, #ffcccc, #f07ec0); /* Agregar degradado lineal */
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform-origin: 0;
  -ms-transform-origin: 0;
  transform-origin: 0;
  -webkit-box-shadow: 1px 1px 12px #000;
  box-shadow: 1px 1px 12px #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.book2:hover .cover2 {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: rotatey(-80deg);
  -ms-transform: rotatey(-80deg);
  transform: rotatey(-80deg);
}
.book3 {
  background: linear-gradient(to bottom right, #ffcccc, #07c092); /* Agregar degradado lineal */
  position: relative;
  border-radius: 10px;
  width: 220px;
  height: 300px;
  -webkit-box-shadow: 1px 1px 12px #000;
  box-shadow: 1px 1px 12px #000;
  -webkit-transform: preserve-3d;
  -ms-transform: preserve-3d;
  transform: preserve-3d;
  -webkit-perspective: 2000px;
  perspective: 2000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #000;
}

.cover3 {
  background: linear-gradient(to bottom right, #ffcccc, #07c092); /* Agregar degradado lineal */
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform-origin: 0;
  -ms-transform-origin: 0;
  transform-origin: 0;
  -webkit-box-shadow: 1px 1px 12px #000;
  box-shadow: 1px 1px 12px #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.book3:hover .cover3 {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: rotatey(-80deg);
  -ms-transform: rotatey(-80deg);
  transform: rotatey(-80deg);
}
.book4 {
  background: linear-gradient(to bottom right, #ffcccc, #4751aa); /* Agregar degradado lineal */
  position: relative;
  border-radius: 10px;
  width: 220px;
  height: 300px;
  -webkit-box-shadow: 1px 1px 12px #000;
  box-shadow: 1px 1px 12px #000;
  -webkit-transform: preserve-3d;
  -ms-transform: preserve-3d;
  transform: preserve-3d;
  -webkit-perspective: 2000px;
  perspective: 2000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #000;
}

.cover4 {
  background: linear-gradient(to bottom right, #ffcccc, #4751aa); /* Agregar degradado lineal */
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform-origin: 0;
  -ms-transform-origin: 0;
  transform-origin: 0;
  -webkit-box-shadow: 1px 1px 12px #000;
  box-shadow: 1px 1px 12px #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.book4:hover .cover4 {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: rotatey(-80deg);
  -ms-transform: rotatey(-80deg);
  transform: rotatey(-80deg);
}

.actividades p {
  font-size: 20px;
  font-weight: bolder;
}

.wrappermain h2 {
  color: white;
  display: flex;
  justify-content: center;
  font-size: 20px;
  margin-top: 35px;
}

.section1 h2 {
  display: flex;
  justify-content: center;
}

.mistarjetas {
  margin: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
  align-items: center;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: auto;
}

.mistarjetas img {
  background-color: transparent;
  margin-top: 20px;
  width: 150px;
  height: auto;
}

.asd {
  display: flex;
  justify-content: center;
  align-items: center;
}

.asd p {
  font-size: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

